* {
    margin: 0;
    padding: 0;
    /* background-color: rgba(0, 128, 0, 0.05); */
}

html {
    background-color: lightblue;
}

.App {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.MainContent {
    flex-grow: 1;
    max-width: 600px;
    margin: auto;
    padding: 16px 0;
    
}

.Header {
    padding: 32px;
    background-color: rgb(137, 182, 197);
    border-bottom: 2px solid black;
}

.Header button {
    padding: 8px;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 8px;
}

.Footer {
    padding: 32px;
    display: flex;
    background-color: rgb(137, 182, 197);
    justify-content: space-between;
    border-top: 2px solid black;
}