/*
    Стилизуйте компонент CardsList с помощью CSS класса .CardsList
    1) Расположите карточки вдоль экрана (например с помощью flexbox)
    2) Добавьте отступы от краев
 */

 .CardsList {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
 }