/*
    Стилизуйте компонент TeamCard с помощью CSS класса .TeamCard
    1) Добавьте обводку (border) с округленными углами (border-radius)
    2) Задайте цвет фона карточки (background-color)
 */

 .TeamCard {
    border: 2px solid purple;
    border-radius: 16px;
    padding: 16px;
    background-color: violet;
 }